/* set body and h1, h2, h3 */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url("components/button.css");
/*
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/list.css");
*/

body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  background: linear-gradient(to bottom, #ffffff 0%,#a6b5bc 100%);
}

h1, h2, h3, p {
	font-family: "Montserrat", "sans-serif";
}
h1 {
	padding: 30px;
}
h3, button {
	margin: 10px;
}
p {
  font-size: 1.2em;
  line-height: 1.6em;
}
p strong {
  font-size: 1.25em;
}
header {
	background: #ffffff url(background.jpg);
	background-size: cover;
	display: flex;
	width: auto;
	height: 400px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #b3aeae;
}
header h1 {
	text-align: center;
	align-self: center;
	font-size: 70px;
	font-weight: bold;
}
.container {
	width: auto;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#main-title{
	margin-top: 60px;
	margin-bottom: 10px;
}
#languages {
	float: right;
	/*position: absolute;
	right: 10px;
	top: 15px;
	margin: 10px 0px;*/
}
#languages img {
  height: 4em;
  width: 4em;
}
#h-btn-container{
	margin: 20px 20px 50px 20px;
	padding: 20px;
}
#poem-container{
	margin: 50px;
}
#instruction {
	padding: 40px;
}
#img-container {
  margin: 1.5em;
}
