.sort-btn {
  color: #332a2a;
  border: 1.5px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  opacity: 0.8;
  width: 5.5em;
  height: 3em;
  font-size: 1.4em;
  font-weight: lighter;
}
.sort-btn:hover {
  opacity: 0.6;
  text-decoration: none;
}
